.container {
  display: flex;
  width: 100%;
  background-color: var(--dark-purple-color);
  border-radius: 1rem 1rem 0 0;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.header li {
  padding: 1.5rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.header li:first-child {
  flex-basis: 50%;
  color: white;
  font-size: 1.5rem;
}

.header li:not(:first-child) > button {
  flex-basis: 10%;
  color: var(--pink-color);
  background-color: transparent;
  font-size: 1.2rem;
}

ul li:hover,
button {
  cursor: pointer;
}
