:root {
  --gray-color: #3e4149;
  --medium-gray-color: #444f59;
  --pink-color: #fd999a;
  --medium-pink-color: #f1bbba;
  --light-pink-color: #fec8c9;
  --navy-color: #353866;
  --dark-purple-color: #2e294e;
  --medium-purple-color: #aaabd3;
  --light-purple-color: #cba6c3;
  --darkMode-background-color: #aaabd3;
  --rightMode-background-color: #f8ecc9;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkMode-background-color);
}

.app {
  display: flex;
  flex-direction: column;
  width: 440px;
}
