:root {
  --main-dark-color: #3e4149;
  --main-medium-dark-color: #444f59;
  --main-pink-color: #fd999a;
  --main-medium-pink-color: #fec8c9;
  --darkmode-background-color: #54546c; /* #8283a7 or #404146 */
  --rightmode-background-color: #f1bbba; /* #f8ecc9 or #a79c8e */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--darkmode-background-color);
}

.App {
  text-align: center;
}
